header {
    background-color: #956868;
    height: 70px;
    width: 100%;
    text-align: center;
    text-shadow: 0.5px;
    font-size: large;
    text-align: center;
}
h1 {
    color: #4D4D4D;
    text-align:center;
    border: none;
    padding:15px;
}